@import '../../scss/variables';

.search-box {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px 0;
    padding: 5px 10px;
    line-height: 1.5;
    // Needs to be inset by (padding + 1) * 2
    width: calc(100% - 22px);
    max-width: 450px;
    border: 1px solid $color-detail;
    &:focus-within {
        box-shadow: 0 0 1px 1px $color-dark; 
    }
    & input {
        padding: 0;
        margin: 0;
        border-radius: 0;
        border: none;
        width: calc(100% - 22px);
        &:focus {
            outline: none;
            border-radius: 0;
            border: none;
        }
    }
}

.icon-container {
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
}