$color-black: #010001;
$color-white: #FFFFFF;
$color-gray: #CEE0DC;
$color-gray-darker: #77827f;
$color-brown: #854D27;
$color-orange: #E89005;
$color-red: #BC412B;

$color-text: #12131c;
$color-light: #ebecf2;
$color-main: #5f6694;
$color-detail: #b0b3cc;
$color-dark: #292c40;

$font-size-xl:48px;
$font-size-lg:28px;
$font-size-md:18px;
$font-size-sm:14px;
$font-size-xs:12px;

$font-segoe: 'Segoe UI', Tahoma, sans-serif;
$font-weight-normal: 300;

$padding-main: 40px 20px 20px 50px;
$side-nav-offset: 250px;